.paragraph{
    font-family: 'Alumni Sans Inline One', cursive;
    }
    @media screen and (max-width:500px){
        body{
            color:blue;
        }
    }
    .ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
      
       